.fondo {
  background-color: blanchedalmond;
  border-color: blanchedalmond;
  justify-content: center;
}

.tp {
  margin-left: 0;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button {
  background-color: rgb(248, 117, 117);
  border-color: blanchedalmond;
  padding-top: auto;
}

.titulo1 {
  display: flex;
}

.qsomos {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
}
