.banner1 {
  background-image: url("../imagenes/banner1.jpg");
  background-size: cover;
  background-position: center;
}

.titulo1 {
  font-weight: bolder;
}

.container-fluid1 {
  background-color: antiquewhite;
  padding-top: 210px;
  padding-bottom: 200px;
}

.fondo {
  background-color: #e5d96b;
}

.cp {
  font-size: 40px;
  color: #c96868;
  background-color: transparent;
  font-weight: 1000;
}
